.bottom_cards {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.forecast_date {
  font-size: 1.2rem;
}

.forecast_temp {
  font-size: 1.2rem;
}

.forecast_description {
  font-size: 1.2rem;
}
