.bottom_container {
  width: auto;
  display: flex;
  /* flex-direction: row; */

  justify-content: space-evenly;
  align-items: center;
}

.forecast_card_container {
  max-width: auto;
}

.forecast_card {
  width: 150px;
  max-height: 140px;
  padding: 1px;
  margin: 1.5rem auto;

  /* margin: 0 2px; */
}

.forecast_date {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5px;
  margin: 1rem auto;
  margin: 0.5rem auto;
}

.forecast_temp {
  font-size: 1.2rem;
  margin: 0.5rem auto;
}

.forecast_icon {
  width: 70px;
  height: 60px;
}
.forecast_description {
  font-size: 1.2rem;
  margin: 0.5rem auto;
}
@media screen and (max-width: 800px) {
  .bottom_container {
    display: flex;
    width: auto;
    justify-content: left;
  }

  .bottom_container {
    margin-left: 12px;
    margin-top: 50px;
  }

  .forecast_card {
    padding: 1px;
  }
}
