.bottom_container {
  flex-direction: row;
  margin: auto;
  padding: 0 1rem;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
}

.forecast_card {
  width: 70px;

  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.forecast_date {
  font-size: 1.2rem;
}

.forecast_temp {
  font-size: 1.2rem;
}

.forecast_description {
  font-size: 1.2rem;
}
