.loading {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: crimson;
}
.weather_container {
  /* height: 50vh; */
  max-width: 750px;
  max-height: 350px;
  margin-top: 30px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  /* top: 1%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.top_info {
  width: 100%;
  /* margin: 1rem auto; */
}

.location {
  font-size: 4rem;
}

.country {
  font-size: 1.5rem;
}

.actual_temperature {
  font-size: 4rem;
}

.weather_description {
  font-size: 1.8rem;

  position: relative;
  right: -80%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.humidity {
  font-size: 1.5rem;
}

.temp_min {
  font-size: 1.5rem;
}
.temp_max {
  font-size: 1.5rem;
}

.feels_like {
  font-size: 1.5rem;
}

.wind_speed {
  font-size: 1.5rem;
}

.bottom_info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;

  /* margin: 1rem auto; */
  padding: 0.2rem;
  border-radius: 12px;
  /* background-color: paleturquoise; */
  background-color: rgba(234, 180, 92, 0.899);
}

@media screen and (max-width: 800px) {
  /* .social {
    display: none; */

  .weather_container {
    margin-top: 50px;
  }
  .bottom_info {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: auto;
  }

  .humidity {
    font-size: 1.2rem;
    padding-right: 10px;
  }

  .temp_min {
    font-size: 1.2rem;
    padding-right: 10px;
  }
  .temp_max {
    font-size: 1.2rem;
    padding-right: 10px;
  }

  .feels_like {
    font-size: 1.2rem;
    padding-right: 10px;
  }

  .wind_speed {
    font-size: 1.2rem;
  }

  .weather_description {
    font-size: 1.3rem;
  }
}
